@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
	/* Neutral Colors */
	--color-neutral-50: oklch(0.99 0 0);
	--color-neutral-100: oklch(0.97 0 0);
	--color-neutral-200: oklch(0.92 0 0);
	--color-neutral-300: oklch(0.87 0 0);
	--color-neutral-400: oklch(0.72 0 0);
	--color-neutral-500: oklch(0.56 0 0);
	--color-neutral-600: oklch(0.44 0 0);
	--color-neutral-700: oklch(0.37 0 0);
	--color-neutral-800: oklch(0.27 0 0);
	--color-neutral-900: oklch(0.21 0 0);
	--color-neutral-950: oklch(0.14 0 0);

	--color-text: var(--color-neutral-200);
	--color-text-secondary: var(--color-neutral-400);

	--color-bg: #000;
	--color-surface: var(--color-neutral-950);
	--color-prompt: oklch(0.27 0 0 / 0.3);

	--color-border: var(--color-neutral-800);
	--color-border-secondary: var(--color-neutral-800);

	--color-ring: var(--color-neutral-700);
	--color-accent: var(--color-neutral-100);
	--color-error: oklch(0.59 0.22 18);
}

body {
	@apply m-0 p-0 box-border bg-bg text-text font-[Karla];
}
